*{
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    margin: 0 auto;
    width: 90%;
    background-color: rgb(240, 173, 148);
}
.header > img {
    width: 100px;
    height: 100px;
}
.header  > p{
    font-family: cursive;
    font-size: 50px;
}




main{
    margin: 50px auto;
    width: 90%;
}


.books{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    row-gap: 20px;
}
.book_item{
    text-align: center;
    height: 350px;
}

.book_item > img{
    border: 2px solid rgb(240, 173, 148);
    padding: 10px;
    height: 150px;
    width: 120px;
}
.book_item > p{
    padding: 5px;
}
.book_item :nth-child(3){
    color: green;
}
.not_stock{
    color:red;
}
.in_stock{
    color: green;
}
.book_item > button{
    margin-top: 10px;
    width: 130px;
    padding: 10px;
    background-color: rgb(240, 173, 148);
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
.book_item > button:hover{
    background-color: white;
    color:rgb(240, 173, 148);
}











a:link { 
    color:rgb(112, 130, 211); text-decoration:none; border: none; 
}